@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap");
:root {
  --col01: hsl(190, 24%, 14%);
  --col02: hsl(190, 30%, 22%);
  --col03: hsl(190, 36%, 30%);
  --col04: hsl(190, 42%, 38%);
  --col05: hsl(190, 48%, 46%);
  --col06: hsl(190, 54%, 54%);
  --col07: hsl(190, 60%, 62%);
  --col08: hsl(190, 66%, 70%);
  --col09: hsl(190, 72%, 78%);
  --col10: hsl(190, 78%, 86%);
  --col11: hsl(190, 84%, 94%);
  --col12: hsl(0, 70%, 40%);
  --col13: hsl(120, 60%, 30%);
  --col14: hsl(120, 78%, 86%);
  --col15: hsl(120, 84%, 94%);
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

input,
button {
  font-family: inherit;
  background-color: inherit;
  color: inherit;
}

body {
  width: 100vw;
  font-family: "El Messiri";
  background-color: var(--col03);
  color: var(--col02);
}

body.table {
  background-color: var(--col10);
}

header > div,
nav > div,
main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

body.table header,
body.table nav,
body.table main {
  min-width: 810px;
}

main.card {
  max-width: calc(100vw - 10rem);
}

header {
  height: 8rem;
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color: var(--col03);
  color: var(--col10);
  border-bottom: 1px outset var(--col02);
  box-shadow: inset 0 -3px 2px var(--col02);
  z-index: 5;
}

nav {
  width: 100%;
  height: 3rem;
  position: sticky;
  top: 8rem;
  padding: 0.5rem;
  background-color: var(--col02);
  color: var(--col10);
  border-bottom: 1px outset var(--col01);
  box-shadow: inset 0 -3px 2px var(--col01);
  z-index: 4;
}

button.remove {
  border: none;
  cursor: pointer;
  margin-top: 0.3rem;
}

button.remove svg {
  width: 24px;
  height: 24px;
  color: var(--col05);
}

button.remove svg:hover {
  color: var(--col03);
}

.switch {
  position: relative;
  appearance: none;
  width: 34px;
  height: 20px;
  border-radius: 12px;
  margin: 0 0.4rem 0;
  transition: all 200ms ease-in-out;
}

.switch::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.switch:focus {
  outline-offset: 0;
}

.switch:focus::after {
  transition: all 200ms ease-in-out;
}

.switch:checked::after {
  transform: translateX(14px)
}

header > div {
  background-color: var(--col03);
  display: grid;
  gap: 1rem;
  grid-template-columns: min-content auto;
  justify-content: start;
  align-items: center;
}

header img {
  border-radius: 50%;
  box-shadow: 1px 3px 2px var(--col01);
}

h1 {
  font-size: 3rem;
  font-weight: normal;
  text-shadow: 2px 3px 2px var(--col01);
}

nav > div {
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: repeat(4, minmax(max-content, 120px)) min-content;
  align-items: center;
}

nav button {
  padding: 0.2rem 0.5rem;
}

#choose-library {
  margin: 0 0.3rem;
  background-color: var(--col10);
  border: none;
  outline: 2px groove var(--col03);
  outline-offset: 3px;
}

#new-library,
#close-library {
  position: relative;
}

.new-library.window,
.close-library.window {
  position: absolute;
  padding: 0.5rem;
  background-color: var(--col02);
  color: var(--col11);
  border: 1px solid var(--col01);
  border-radius: 0 0 6px 6px;
  box-shadow: 3px 4px 6px var(--col01);
  display: none;
}

.new-library.window div,
.close-library.window div {
  border: 2px groove var(--col01);
  padding: 0.5rem;
  display: grid;
  column-gap: 1.0rem;
}

.new-library.window.show,
.close-library.window.show {
  display: inherit;
}

.new-library.window {
  top: 1.95rem;
}

.new-library.window div {
  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content 1fr 1fr 1fr;
}

.new-library.window label {
  grid-row: 2 / 4;
  font-size: 0.9rem;
}

.new-library.window input {
  grid-row: 4 / 5;
  border: none;
  border-bottom: 2px groove var(--col06);
  font-size: 1.0rem;
  padding-left: 0.5rem;
}

.new-library.window button.close {
  grid-column: 2 / 3;
  font-size: 0.8rem;
  line-height: 1.2rem;
  padding: 0.2rem 0.1rem 0;
  border: 2px groove var(--col01);
  border-radius: 6px;
  background-color: var(--col02);
}

.new-library.window button.create {
  grid-row: 4 / 5;
  font-size: 1.1rem;
  line-height: 1.0rem;
  padding: 0.3rem 0.1rem 0;
  border: 2px groove var(--col01);
  border-radius: 6px;
  background-color: var(--col02);
  color: #00ff00
}

.new-library.window input:focus {
  outline: 2px groove var(--col06);
  outline-offset: 2px;
}

.close-library.window {
  top: 2.46rem;
}

.close-library.window div {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr ;
}

.close-library.window p {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  font-size: 0.9rem;
}

.close-library.window button.confirm,
.close-library.window button.quit {
  font-size: 1.0rem;
  line-height: 1.2rem;
  padding: 0.3rem 0.1rem 0;
  border: 2px groove var(--col01);
  border-radius: 6px;
  background-color: var(--col02);
  grid-row: 2;
}

.close-library.window button.confirm {
  grid-column: 2 / 3;
}

.close-library.window button.quit {
  grid-column: 3 / 4;
}

.display-style {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  justify-items: center;
}

#display-style {
  background-color: var(--col04);
  border: 2px inset var(--col03);
}

#display-style::after {
  border: 1px outset var(--col01);
  background-color: var(--col02);
}

#display-style:focus {
  background-color: var(--col06);
  outline: 2px groove var(--col04);
}

.card-style,
.table-style {
  transition: all 200ms ease-in-out;
  color: var(--col04);
}

.card-style.checked,
.table-style.checked {
  color:var(--col10);
}

main .switch {
  grid-column: 2 / 3;
  background-color: var(--col12);
  border: 2px inset var(--col03);
}

main.card .switch {
  margin-top: 1.0rem;
}

main .switch:after {
  background-color: var(--col04);
  border: 1px outset var(--col05);
}
main .switch:checked {
  background-color: var(--col13);
}

main .switch:focus {
  outline: 2px groove var(--col05);
  outline-offset: 2px;
}

main.card {
  background-color: var(--col03);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

main.card div {
  margin: 4.0rem 2.0rem 1.0rem;
  background: radial-gradient(circle farthest-corner at 18% 17%, var(--col10), var(--col08), var(--col10));
  color: var(--col01);
  border-radius: 16px;
  box-shadow: 4px 6px 8px var(--col01), inset -3px -3px 12px var(--col02);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main.card h2 {
  grid-column: 1 / 3;
  font-size: 1.1rem;
  font-variant: small-caps;
}

main.card h2:not([class="title"], [class="author"]) {
  grid-column: 1 / 2;
}

main.card p {
  grid-column: 1 / 3;
  font-size: 1.3rem;
  margin-left: 1.5rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

main.card p:not([class="title"], [class="author"]) {
  grid-column: 2 / 3;
  font-size: 1.0rem;
  margin: 0 2.5rem 0 auto;
}

main.card hr {
  grid-column: 1 / 3;
  width: 85%;
  height: 1px;
  margin: 0.5rem auto;
  border-color: var(--col06);
}

main.card button.remove {
  grid-column: 2 / 3;
  justify-self: end;
}

main.card .form-container {
  min-width: min-content;
  max-width: 400px;
  background: radial-gradient(circle farthest-corner at 18% 17%, var(--col15), var(--col14), var(--col15));
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

main.card form {
  position: relative;
  border: 2px groove var(--col06);
  padding: 0.5rem;
  display: grid;
  column-gap: 0.2rem;
  grid-template-columns: repeat(4, 1fr);
}

main.card form::after {
  position: absolute;
  top: 2px;
  right: -41px;
  content: "New";
  transform: rotate(48deg);
  background-color: var(--col12);
  color: var(--col11);
  font-weight: bold;
  line-height: 1.0rem;
  padding: 0.1rem 2.0rem 0;
  border-top-left-radius: 100% 50px;
  border-top-right-radius: 100% 50px;
  box-shadow: 2px -2px 6px var(--col01),
              -3px 2px 25px var(--col01);
}

main.card form label {
  grid-column: 1 / 2;
  font-variant: small-caps;
  font-weight: bold;
}

main.card form input:not([id='book-read']) {
  grid-column: 1 / 5;
  width: 75%;
  margin: 0 auto 0.2rem;
  padding: 0 0.3rem;
  font-size: 1.1rem;
  border: none;
  border-bottom: 2px groove var(--col06);
}

main.card form input:not([id='book-read']):focus {
  background-color: var(--col15);
  outline: 2px ridge var(--col06);
  outline-offset: 3px;
}

main.card form label:last-of-type {
  margin-top: 1.0rem;
}

main.card form button[type="reset"],
main.card form button[type="submit"] {
  grid-row: 12;
  background-color: var(--col04);
  color: var(--col11);
  border: 2px outset var(--col06);
  border-radius: 12px;
  width: 4.0rem;
  margin-top: 0.5rem;
  justify-self: end;
}

main.card form button[type="reset"] {
  grid-column: 3 / 4;
}

main.card form button[type="submit"] {
  grid-column: 4 / 5;
}

main.table {
  position: relative;
  transform: translateY(-4.5rem);
  transition: transform 400ms ease-in-out;
}

main.table.form-open{
  transform: translateY(0);
}

main.table table {
  width: 100%;
  border-spacing: 0;
}

main.table thead {
  position: sticky;
  top: 15.5rem;
  z-index: 2;
  background-color: var(--col05);
  color: var(--col11);
  box-shadow: inset 1px -3px 2px var(--col04);
  border-bottom-left-radius: 16px 100%;
  border-bottom-right-radius: 16px 100%;
  text-align: left;
  font-size: 1.5rem;
  font-variant: small-caps;
}

main.table th:first-of-type {
  border-bottom-left-radius: 16px 100%;
}

main.table th:last-of-type {
  border-bottom-right-radius: 16px 100%;
}

main.table th {
  padding-left: 1rem;
}

main.table tr,
main.table td {
  border-bottom: 2px groove var(--col11);
}

main.table tr:hover {
  background-color: var(--col09);
}

main.table tr td:first-child {
  max-width: 300px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

main.table td {
  font-size: 1.2rem;
  padding: 0.2rem 1rem;
}

main.table td:nth-last-of-type(4),
.table td:nth-last-of-type(3) {
  text-align: right;
}

main.table td:nth-last-of-type(2),
main.table td:last-of-type {
  text-align: center;
}

main.table .form-container {
  position: sticky;
  max-width: 1200px;
  top: 11.0rem;
  min-width: 810px;
  background-color: var(--col04);
  border-bottom: 2px groove var(--col06);
  z-index: 3;
}

main.table form {
  position: relative;
  padding: 0.5rem;
  color: var(--col11);
  display: grid;
  column-gap: 0.3rem;
  row-gap: 0.1rem;
  grid-template-columns: repeat(7, minmax(1px, 1fr));
  grid-template-rows: 0.75fr 1fr;
  justify-content: space-between;
  align-items: start;
}

main.table form label {
  grid-row: 1;
  font-variant: small-caps;
  font-weight: bold;
}

main.table form input:not([id='book-read']) {
  grid-row: 2;
  width: 100%;
  background-color: var(--col05);
  padding-left: 0.3rem;
  font-size: 1.0rem;
  border: 1px inset var(--col05);
}

main.table form input:not([id='book-read']):focus {
  outline: 2px ridge var(--col06);
  outline-offset: 2px;
}

main.table #book-read {
  position: relative;
  grid-row: 2;
  grid-column: 6;
  justify-self: center;
  align-self: center;
}

main.table #book-read::after {
  position: absolute;
  top: 0;
  left:0;
}


main.table form button[type="reset"],
main.table form button[type="submit"] {
  grid-column: 7;
  background-color: var(--col05);
  color: var(--col11);
  border: 2px outset var(--col06);
  border-radius: 12px;
  width: 3.75rem;
  justify-self: center;
  align-self: center;
}

main.table form button[type="reset"] {
  grid-row: 1;
}

main.table form button[type="submit"] {
  grid-row: 2;
}

#table-form-toggler {
  display: none;
  user-select: none;
  font-size: 2.0rem;
  line-height: 1.4rem;
  padding-top: 0.3rem;
  margin-left: 3.5rem;
  background-color: var(--col02);
  cursor: pointer;
}

body.table #table-form-toggler {
  display: initial;
  color: var(--col09);
  transition: transform 400ms ease-in-out;
}

body.table #table-form-toggler.form-open {
  transform: rotateZ(-405deg);
  color: var(--col12);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.3rem 0;
  background-color: var(--col02);
  border-top: 1px outset var(--col04);
  box-shadow: inset 0 3px 2px var(--col03);
  color: var(--col11);
  font-size: 0.9rem;
  font-weight: bold;
  text-align: right;
}

footer div {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 2.0rem;
}

footer a:link {
  color: var(--col11);
}

footer a:visited {
  color: #bada55;
}

footer a:hover {
  color: var(--col09);
}
